@import '../styles/variables';
@import '../styles/mediaQueries';

.footer {
    background: $tertiary-background-colour;

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 30px;
        padding-bottom: 30px;

        .footer_btn {
            padding: 5px 10px;  

            @include breakpoint(sm) {
                padding: 10px 15px;        
            }
            @include breakpoint(md) {
                padding: 10px 20px;        
            }
        }
    }

    .footer_name {
        font-family: Geometos-Rounded;
        color: $secondary-colour;
        user-select: none;

        display: none;
        @include breakpoint(md) {
            display: block;        
        }
    }
}