@import '../styles/variables.scss';
@import '../styles/mediaQueries.scss';

.footer {
    background: $primary-dark-colour;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 5;

    @include breakpoint(sm) {
        justify-content: flex-start;
        grid-column-end: 6;
        padding-left: 20px;
    }

}

.link {
    padding: 15px 15px;
    margin: 5px 5px;
    font-size: 14px;
    cursor: pointer;

    &:first-child {
        padding-left: 0;
        margin-left: 0;
    }
}