@import '../styles/variables';

.footer {
    background: $tertiary-background-colour;

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_name {
        font-family: Geometos-Rounded;
        color: $secondary-colour;
        user-select: none;
    }
}