@import '../styles/variables';

$btn-offset: -28px; 
$btn-icon-size: 20px;

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: $z-index-level-5;

    .carousel_btn_icon {
        width: $btn-icon-size;
        height: $btn-icon-size;
        fill: $primary-background-colour;
    }

    .carousel_btn {
        position: relative;
        // override default
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        z-index: $z-index-level-5;

        &:first-child {
            margin-right: $btn-offset;
        }
        &:last-child {
            margin-left: $btn-offset;
        }
    }

    .carousel_content {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        background: $primary-background-colour;
        height: 300px;
        box-shadow: $shadow-1;
        border-radius: $primary-border-radius;
        overflow: hidden;
        position: relative;
    }

    @keyframes slideOutLeft {
        from {
            right: 0;
            visibility: visible;
        }
        to {
            right: 100%;
            visibility: hidden;
        }
    }

    @keyframes slideOutRight {
        from {
            right: 0;
            visibility: visible;
        }
        to {
            right: -100%;
            visibility: hidden;
        }
    }

    @keyframes slideInLeft {
        from {
            right: -100%;
            visibility: visible;
        }
        to {
            right: 0;
        }
    }

    @keyframes slideInRight {
        from {
            right: 100%;
            visibility: visible;
        }
        to {
            right: 0;
        }
    }

    .panel_img_container {
        background: $primary-background-colour;
    }

    $img-transition-duration: 0.2s;
    // img transition (same for both directions)
    .carousel_panel.carousel_panel_active_, .carousel_panel.carousel_panel_active_r, .carousel_panel.carousel_panel_active_l {
        visibility: visible;
        transition: opacity $img-transition-duration linear $img-transition-duration, 
                    visibility $img-transition-duration step-start $img-transition-duration;
        
        .panel_img_container .panel_img{
            opacity: 1;
            transition: opacity $img-transition-duration linear $img-transition-duration;
        }
    }
    .carousel_panel.carousel_panel_hidden_, .carousel_panel.carousel_panel_hidden_r, .carousel_panel.carousel_panel_hidden_l {
        visibility: hidden;
        transition: opacity $img-transition-duration linear, visibility $img-transition-duration step-end;

        .panel_img_container .panel_img {
            opacity: 0.3;
            transition: opacity $img-transition-duration linear;
        }
    }

    // overrides for animation
    .panel .panel_text_container {
        padding: 0;
        position: relative;
        width: 535px;
        margin: 0;

    }

    .panel_title {
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 32px;
    }

    .panel_text {
        position: absolute;
        width: 100%;
        padding: 72px 64px 64px 64px;
        box-sizing: border-box;
    }


    $title-duration: 0.6s;
    $text-duration: 0.8s;


    // next title transition
    .carousel_panel_active_r .panel_text_container .panel_title {
        animation: $title-duration ease-in-out forwards slideInLeft;
    }
    // next title out transition
    // need to add to the panel_prev only since it was previously the active one, so we 
    // ant to transition it out of frame
    .carousel_panel_hidden_r.carousel_panel_prev .panel_text_container .panel_title {
        animation: $title-duration ease-in-out forwards slideOutLeft;
    }

    // next desc in transition
    .carousel_panel_active_r .panel_text_container .panel_text {
        animation: $text-duration ease-in-out forwards slideInLeft;
    }
    // next desc out transition
    // need to add to the panel_prev only since it was previously the active one, so we 
    // ant to transition it out of frame
    .carousel_panel_hidden_r.carousel_panel_prev .panel_text_container .panel_text {
        animation: $text-duration ease-in-out forwards slideOutLeft;
    }

    // prev title transition
    .carousel_panel_active_l .panel_text_container .panel_title {
        animation: $title-duration ease-in-out forwards slideInRight;
    }
    // prev title out transition
    // need to add to the panel_next only since it was previously the active one, so we 
    // ant to transition it out of frame
    .carousel_panel_hidden_l.carousel_panel_next .panel_text_container .panel_title {
        animation: $title-duration ease-in-out forwards slideOutRight;
    }

    // prev text in transition
    .carousel_panel_active_l .panel_text_container .panel_text {
        animation: $text-duration ease-in-out forwards slideInRight;
    }
    // prev text out transition
    // need to add to the panel_next only since it was previously the active one, so we 
    // ant to transition it out of frame
    .carousel_panel_hidden_l.carousel_panel_next .panel_text_container .panel_text {
        animation: $text-duration ease-in-out forwards slideOutRight;
    }
}