@import '../../styles/variables.scss';
@import '../../styles/mediaQueries.scss';

.header {
    background: $primary-highlight-colour;

    // 4 cols
    padding: 80px 0 30px 0;
    text-align: center;
    grid-template-areas: 
        "name name name name"
        "desc desc desc desc"
        ". contact contact ."
    ;
    
    @include breakpoint(sm) {
        grid-template-areas: 
            "name name name name name name"
            "desc desc desc desc desc desc"
            ". . contact contact . ."
        ;
    }
    @include breakpoint(md) {
        text-align: left;
        grid-template-areas: 
            "name name name name name name . ."
            "desc desc desc desc . . . ."
            "contact contact . . . . . ."
        ;
    }
    @include breakpoint(lg) {
        grid-template-areas: 
            "name name name name name name . . . ."
            "desc desc desc desc . . . . . ."
            "contact contact . . . . . . . ."
        ;
    }
    @include breakpoint(xl) {
        padding: 100px 0 30px 0;
        grid-template-areas: 
            "name name name name name name . . . . . . "
            "desc desc desc desc . . . . . . . ."
            "contact contact . . . . . . . . . ."
        ;
        
    }
}

.name, .desc, .contact {
    color: $primary-text-highlight-colour;

    @include breakpoint(md) {
        padding: 0 0 0 20px;
    }
}

.name {
    grid-area: name;

    font-size: 48px;
    line-height: 46px;
    margin: 10px 0;
}

.desc {
    grid-area: desc;
    margin: 10px 0;
}

.contact {
    grid-area: contact;
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;

    @include breakpoint(md) {
        justify-content: flex-start;
    }
}

.link {
    padding: 10px 30px;
    background: $primary-background-colour;
    border-radius: 4px;
    color: $primary-text-colour;
    box-shadow: $material-box-shadow-1;
}