@import '../styles/variables';
@import '../styles/mediaQueries';

$angle-size: 215px;
$bg-offset: 15px;

.demos {
    padding-top: $section-spacing;

    .demos_title, .demos_desc {
        text-align: center;
        
    }

    .demos_desc {
        margin-top: 10px;

        text-align: left;
        @include breakpoint(xl) {
            text-align: center;
        }
    }

    .demos_carousel {
        position: relative;
        margin-top: 32px;
    }

    .demos_angle {
        position: absolute;
        right: 0;
        margin-top: -$angle-size;
        height: $angle-size;
        fill: $secondary-background-colour;
    }

    .demos_behind {
        width: 100%;
        height: $bg-offset;
        position: absolute;
        left: 0;
        margin-top: -$bg-offset;
        background: $secondary-background-colour;
    }
}