@import '../styles/variables';
@import '../styles/mediaQueries';

.skills {
    padding-top: $section-spacing;

    .skills_title {
        text-align: center;

        @include breakpoint(md) {
            text-align: left;
        }
    }

    .skills_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .skills_info_card {
            width: 100%;
            flex-direction: row;
            margin-top: 20px;

            justify-content: center;
            .info_text_container {
                width: 50%;
            }

            &:first-child {
                margin: 0;
            }

            .icon_wrapper {
                padding-right: 20px;
            }
        }

        @include breakpoint(sm) {
            flex-direction: row;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;

            .skills_info_card {
                width: 50%;

                justify-content: start;
                .info_text_container {
                    width: 100%;
                }

                margin-top: 0;

                &:last-child {
                    margin-top: 20px;
                }
            }
        }

        @include breakpoint(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            .skills_info_card {
                width: 30%;
                flex-direction: column;
                align-items: space-between;
                margin-top: 0;

                &:first-child {
                    width: 220px;
                }
                &:last-child {
                    width: 180px;
                    margin-top: 0;
                }
            }
        }

        @include breakpoint(lg) {
            .skills_info_card {
                &:first-child {
                    width: 220px;
                    margin-right: 80px;
                }
                &:last-child {
                    width: 200px;
                }
            }
        }
    }
}