@import '../styles/variables';

.skills {
    padding-top: $section-spacing;

    .skills_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}