@import '../../../styles/variables.scss';
@import '../../../styles/mediaQueries.scss';

.project {
    justify-items: center;

    grid-template-areas: 
        "prev prev prev prev" 
        "desc desc desc desc"
    ;

    @include breakpoint(sm) {
        grid-template-areas: 
            "prev prev prev prev prev prev" 
            "desc desc desc desc desc desc"
        ;
    }
    @include breakpoint(md) {
        grid-template-areas: 
            "prev prev prev prev desc desc desc desc"
        ;
    }
    @include breakpoint(lg) {
        grid-template-areas: 
            "prev prev prev prev prev desc desc desc desc desc"
        ;
    }
    @include breakpoint(xl) {
        grid-template-areas: 
            "prev prev prev prev prev prev desc desc desc desc desc desc"
        ;
    }
    
    
    &.reverse {
        @include breakpoint(md) {
            grid-template-areas: 
                "desc desc desc desc prev prev prev prev"
            ;
        }
        @include breakpoint(lg) {
            grid-template-areas: 
                "desc desc desc desc desc prev prev prev prev prev"
            ;
        }
        @include breakpoint(xl) {
            grid-template-areas: 
                "desc desc desc desc desc desc prev prev prev prev prev prev"
            ;
        }
    }
}

.preview {
    grid-area: prev;
    background: white;
    box-shadow: $material-box-shadow-1;
    border-radius: 4px;

    width: 98%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.desc {
    grid-area: desc;

    display: flex;
    flex-direction: column;

    padding: 0 10px
}

.text {
    margin: 10px 0;

    &:first-child {
        margin-top: 20px;
    }
}

.title {
    text-align: center;
}

.btn {
    background: $primary-highlight-colour;
    padding: 10px 70px;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    box-shadow: $material-box-shadow-1;
}