@import "./variables";
@import "./mediaQueries";


/******************************************************
*                                                     *
*               MAIN SPACING STYLES                   *
*                                                     *
*******************************************************/ 
html, body, #root {
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

/******************************************************
*                                                     *
*                    TEXT STYLES                      *
*                                                     *
*******************************************************/ 
html, body, #root, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: $primary-text-colour;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 67px;
}
h2 {
    font-size: 30px;
}
p {
    line-height: 26px;
    color: $secondary-text-colour;
}
a {
    font-weight: 500;
}

@font-face {
    font-family: 'Geometos-Rounded';
    src: url('../../fonts/geometos-rounded/geometos-rounded.woff') format('woff'), 
         url('../../fonts/geometos-rounded/geometos-rounded.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../../fonts/bahnschrift/bahnschrift.woff') format('woff'), 
         url('../../fonts/bahnschrift/bahnschrift.ttf') format('truetype');
}


/******************************************************
*                                                     *
*                    GRID STYLES                      *
*                                                     *
*******************************************************/ 
.grid_container {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 0;
    justify-content: center;
    align-items: center;
    height: auto;

    // 4 cols
    grid-template-columns: 82.5px 82.5px 82.5px 82.5px;
    grid-column-gap: 10px;

    // 6 cols (480)
    @include breakpoint(sm) {
        grid-template-columns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
        grid-column-gap: 15px;
    }

    // 8 cols (768)
    @include breakpoint(md) {
        grid-template-columns: 78.5px 78.5px 78.5px 78.5px 78.5px 78.5px 78.5px 78.5px;
        grid-column-gap: 20px;
    }

    // 10 cols (992)
    @include breakpoint(lg) {
        grid-template-columns: 76.7px 76.7px 76.7px 76.7px 76.7px 76.7px 76.7px 76.7px 76.7px 76.7px;
        grid-column-gap: 25px;
    }

    // 12 cols (1200)
    @include breakpoint(xl) {
        grid-template-columns: 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px 72.5px;
        grid-column-gap: 30px;
    }
}

.grid_content {
    grid-column-start: 1;
    grid-column-end: 5;

    padding: 0 82px;

    @include breakpoint(sm) {
        grid-column-end: 7;
    }
    @include breakpoint(md) {
        grid-column-end: 9;
    }
    @include breakpoint(lg) {
        grid-column-end: 11;
    }
    @include breakpoint(xl) {
        grid-column-end: 13;
    }

}