/******************************************************
*                                                     *
*                  GENERAL STYLES                     *
*                                                     *
*******************************************************/ 
$primary-background-colour: #E9EBEE; 

$primary-highlight-colour: #2A9BDD;

$primary-dark-colour: #0C2C49;


$primary-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

/******************************************************
*                                                     *
*                    TEXT STYLES                      *
*                                                     *
*******************************************************/ 
$primary-text-colour: #353535;

/******************************************************
*                                                     *
*                      Z-INDEX                        *
*                                                     *
*******************************************************/ 
$z-index-level-1: 1;
$z-index-level-3: 3;
$z-index-level-5: 5;
$z-index-level-10: 10;