@import '../styles/variables';
@import '../styles/mediaQueries';

.about {
    padding-top: $section-spacing;

    .about_title {
        text-align: center;

        @include breakpoint(md) {
            text-align: left;
        }
    }

    .about_text_container {
        margin: 10px 0;
    }

    .about_text {
        &:last-child {
            margin: 8px 0 0 0;
        }
    }

    // override default button styles
    .about_link {
        padding: 0;
        font-weight: 300;
        user-select: auto;
    }

    .about_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .about_card {
        width: 100%;

        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }

        @include breakpoint(md) {
            width: 50%;
            margin-top: 0;

            &:nth-child(3), &:nth-child(4) {
                margin-top: 25px;
            }
        }
    }
}